html, body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(232,231,225);
    background: radial-gradient(circle, rgba(232,231,225,1) 0%, rgba(90,118,126,1) 100%);
    background-size: cover;
    color: #2C3848;
    user-select: none;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
    padding: 30px;
}

img {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 10px; 
}

input, textarea {
    color: #E8E7E1;
    background-color: #2C3848;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    margin: 10px 0;
}

textarea {
  resize: none;
}

button {
    color: #E8E7E1;
    background-color: #474747;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

button:hover {
    background-color: #5A767E;
    cursor: pointer;
}

h3 {
    margin-top: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

ul li {
    font-size: 18px;
    background-color: #2C3848;
    color: #DCE1EB;
    padding: 15px;
    flex-grow: 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

ul li:hover {
    color: #DCE1EB;
}

span {
    cursor: pointer;
}

span::after {
    content: "♽"
}